<section class="hero-contacts">
    <div class="container hero-contacts-container">
        <h1 class="hero-contacts-title">Авторські десерти</h1>
        <div class="hero-contacts-text-and-icons">
        <p class="hero-contacts-text">Виготовляємо десерти під замовлення з любов’ю та користю</p>
        <ul class="hero-contacts-list">
            <li class="hero-contacts-item">
                <a href="" class="hero-contacts-link"><img src="./img/telegram-icon.webp" alt="telegram" class="hero-contacts-telegram">
                </a>
            </li>
            <li class="hero-contacts-item"><a href="" class="hero-contacts-link"><img src="./img/facebook-icon.webp" alt="facebook" class="hero-contacts-facebook">

            </a>
        </li>
            <li class="hero-contacts-item"><a href="" class="hero-contacts-link"><img src="./img/instagram-icon.webp" alt="instagram" class="hero-contacts-instagram">

            </a>
        </li>
        </ul>
    </div>
    </div>
</section>