@font-face {
    font-family: 'Moniqa Black Display';
    src: url('https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.eot');
    src: url('https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.eot?#iefix')
        format('embedded-opentype'),
      url('https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.woff2')
        format('woff2'),
      url('https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.woff')
        format('woff'),
      url('https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.ttf')
        format('truetype'),
      url('https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.svg#Moniqa Black Display')
        format('svg');
  }
    
  .hero-contacts {
    height: 943px;
    background-image: url(../../img/hero-background1.webp), url(../../img/hero-background2.webp), url(../../img/hero-background3.webp), url(../../img/hero-background4.webp);
    background-repeat: no-repeat;
    background-position: 51px 40px, 243px 151px, 507px 176px, 892px 163px;
    padding: 40px 0px;
  }
  
  .hero-contacts-container {
    flex-direction: column;
    color: var(--text-color);
  }
  
  .hero-contacts-facebook {
    padding: 0px 6px;
  }
  
  .hero-contacts-title {
    text-align: center;
    margin-bottom: 477px;
    font-family: 'Moniqa Black Display';
    font-size: 100px;
    color: var(--text-color);
  }
  
  .hero-contacts-text-and-icons {
    display: flex;
    justify-content: right;
    align-content: flex-start;
    flex-wrap: wrap;
    height: 126px;
  }
  
  .hero-contacts-text {
    width: 287px;
    font-family: 'Montserrat';
    margin-right: 82px;
  }
  
  .hero-contacts-list {
    display: flex;
    row-gap: 20px;
    flex-direction: column;
    padding-top: 16px;
  }
  