<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      <span class="hero-title1">Головна / Каталог/ </span
      ><span class="hero-title2">Торт “Наполеон”</span>
    </h1>
    <div class="delivery-container">
      <div class="selecion-container">
        <img src="./img/pict5.webp" alt="cake" class="hero-img" />
        <div class="selection-of-container">
        <ul class="selection-of-cakes">
          <div class="selection-of-cakes-container">
            <li class="hero-item">
              <button class="cakes-of-hero-button"><img src="./img/arrow-left.webp" alt="cake" class="cakes-of-hero-img"></button>
            </li>
          </div>
          <li class="hero-item">
            <img src="./img/pict5.webp" alt="cake" class="selection-hero-img" />
          </li>
          <li class="hero-item">
            <img
              src="./img/pict11.webp"
              alt="cake"
              class="selection-hero-img"
            />
          </li>
          <li class="hero-item">
            <img
              src="./img/pict12.webp"
              alt="cake"
              class="selection-hero-img"
            />
          </li>
          <div class="of-cakes-container">
          <li class="hero-item"><button class="cakes-hero-button"><img src="./img/arrow-right.webp" alt="cake" class="cakes-of-hero-img"></button></li>
        </div>
        </ul>
      </div>
      </div>
      <div class="cake-container">
        <h2 class="hero-subtitle">Торт “Наполеон”</h2>
        <ul class="hero-selection-list">
          <li class="cake-item">ніжний заварний крем</li>
          <li class="cake-item">ароматні коржі</li>
          <li class="cake-item">ягоди</li>
        </ul>
        <ul class="hero-button-list">
          <li class="hero-item">
            <button class="hero-button"><p class="button-text">Вид</p>
              <select name="" id="" class="hero-arow">
              <option value="" ></option>
          </select>
        </button>
              
          </li>
          <li class="hero-item">
            <button class="hero-button"><p class="button-text">Декор</p>
              <select name="" id="" class="hero-arow">
              <option value="" ></option>
          </select>
        </button>
              
          </li>
          <li class="hero-item">
            <button class="hero-button"><p class="button-text">Вага готового виробу</p>
              <select name="" id="" class="hero-arow">
              <option value="" ></option>
          </select>
        </button>
              
          </li>
        </ul>
        <ul class="delivery-list">
          <div class="hero-text-container">
          <p class="hero-text">950 грн</p>
        </div>
        <div class="hero-delivery-container">
          <button class="hero-delivery">Замовити</button>
        </ul>
      </div>
    </div>
  </div>
</section>
