<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      <span class="hero-title1">Головна / Каталог/ </span
      ><span class="hero-title2">Торт “Наполеон”</span>
    </h1>
    <img src="./img/pict5.webp" alt="cake" class="hero-img" />
    <ul class="selection-of-cakes">
      <div class="selection-of-cakes-container">
        <li class="hero-item"><button class="hero-button"></button></li>
      </div>
      <li class="hero-item">
        <img
          src="./img/pict5.webp"
          alt="cake"
          class="selection-hero-img"
        />
      </li>
      <li class="hero-item">
        <img
          src="./img/pict11.webp"
          alt="cake"
          class="selection-hero-img"
        />
      </li>
      <li class="hero-item">
        <img
          src="./img/pict12.webp"
          alt="cake"
          class="selection-hero-img"
        />
      </li>
      <li class="hero-item"><button class="hero-button"></button></li>
    </ul>

    <h2 class="header-subtitle">Торт “Наполеон”</h2>
    <ul class="hero-selection-list">
      <li class="hero-item">ніжний заварний крем</li>
      <li class="hero-item">ароматні коржі</li>
      <li class="hero-item">ягоди</li>
    </ul>
    <ul class="hero-button-list">
      <li class="hero-item">
        <button class="hero-button">Вид</button>
      </li>
      <li class="hero-item">
        <button class="hero-button">Декор</button>
      </li>
      <li class="hero-item">
        <button class="hero-button">Вага готового виробу</button>
      </li>
    </ul>
    <p class="hero-text">950 грн</p>
    <button class="hero-delivery">Замовити</button>
  </div>
</section>
