<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="information">
      <div class="container">
        <ul class="information-list description">
          <li class="information-item">Опис</li>
          <li class="information-item">Умови зберігання</li>
          <li class="information-item">Доставка</li>
        </ul>
        <div class="information-stick"></div>
        <ul class="information-list">
          <li class="information-item">Ніжний десерт, який знайомий усім нам з дитинства. </li>
          <li class="information-item">Ви маєте можливість замовити класичний торт без прикрас, або ж прикрасити його соковитими ягодами або карамеллю.</li>
          <li class="information-item">Не відмовляйте собі у спокусі скуштувати “Наполеон”! Ви маєте можливість замовити торт без цукру, без глютену та без лактози. </li>
        </ul>
      </div>
    </section>
  </body>
</html>
