<section class="recommendations">
        <div class="container">
      <h1 class="recommendations-title">Також можете спробувати:</h1>
      <ul class="recommendations-list">
        <li class="recommendations-item">
          <img src="./img/pict6.webp" alt="cake" class="recommendations-img" />
          <h2 class="recommendations-subtitle">Торт “Тіраміссу”</h2>
          <p class="recommendations-text">1350 грн/ 2 кг</p>
        </li>
        <li class="recommendations-item">
          <img src="./img/pict4.webp" alt="cake" class="recommendations-img" />
          <h2 class="recommendations-subtitle">Торт “Снікерс”</h2>
          <p class="recommendations-text">1400 грн/ 3 кг</p>
        </li>
        <li class="recommendations-item">
          <img src="./img/pict1.webp" alt="cake" class="recommendations-img" />
          <h2 class="recommendations-subtitle">Мусовий торт “Манго-маракуйя”</h2>
          <p class="recommendations-text">1200 грн/ 3 кг</p>
        </li>
      </ul>
    </div>
</section>

