<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="about-me">
        <img class="founder" src="../img/pict.webp" alt="founder">
        <img class="sing" src="../img/name (1).webp" alt="sing">
        <h1 class="title">Анна Кострома <span> Засновниця кондитерської Grann Pastry</span></h1>
        <p class="text"> Від хобі до власної справи.
            
            Я закінчила DGF International Culinary School в Києві, а згодом навчалася в одній з найвідоміших шкіл готельного сервісу і кулінарії в світі «Le Cordon Bleu» (Франція).Свою справу почала після того, як здобула досвід і працювала в одному з найбільших кондитерських цехів Грузії (1500 кв.м.).
            
            Наразі започаткувала особистий бренд і будую власний кондитерський цех.Моя робота мене надихає. Завдяки моїм солодощам, я можу дарувати щасливі моменти для вас!</p>
    </section>
</body>
</html>