<section class="about">
    <div class="container about-about-me-container">
    <img src="../img/name.webp" alt="name"  class="about-name"/>
    <ul class="about-list">
    <li class="about-iteam">
        <img src="../img/pict.webp" alt="face" class="about-face" />
    </li>
    <li class="about-iteam">
        <h2 class="about-subtitle">Анна Кострома</h2>
        <p class="about-text"> Засновниця кондитерської Grann Pastry</p>
        <p class="about-text"> Від хобі до власної справи.Я закінчила DGF International Culinary School вКиєві, а згодом навчалася в одній з найвідоміших шкіл готельного сервісу ікулінарії в світі «Le Cordon Bleu» (Франція).Свою справу почала після того,як здобула досвід і працювала в одному з найбільших кондитерських цехівГрузії (1500 кв.м.).</p>
        <p class="about-text">Наразі започаткувала особистий бренд і будую власний кондитерський цех.Моя робота мене надихає. Завдяки моїм солодощам, я можу дарувати щасливі моменти для вас!</p>
    </li>
  </ul>
</div>
</section>
