<section class="besteler">
  <div class="container besteler-container">
    <h1 class="besteler-title">Бестселлер</h1>
    <div id="carousel" class="carousel">
      <div class="bestcelar-arrow-container">
      <button class="arrow-prev">
        <img src="./img/arrow3.webp" alt="arow-left" class="besteler-arow" />
      </button>
      <button class="arrow-next">
        <img src="./img/arrow2.webp" alt="arrow-right" class="besteler-arow" />
      </button>
    </div>
      <div class="gallery">
        <ul class="besteler-list">
          <li class="bestcelar-item">
            <img src="./img/pict1.webp" alt="Image 1" class="bestcelar-image"/>
            <div class="bestcelar-text-container-container">
            <div class="bestcelar-text-container">
            <p class="bestcelar-text-title">Мусовий торт “Манго-маракуйя”</p>
            <p class="bestcelar-text">1200 грн/ 3 кг</p>
          </div>
          <div>
            <img src="./img/header-shoping-cart.webp" alt="cart"/>
          </div>
            </div>
          </li>
          <li class="bestcelar-item">
            <img src="./img/pict-tort.webp" alt="Image 2" class="bestcelar-image"/>
            <div class="bestcelar-text-container-container">
            <div class="bestcelar-text-container">
            <p class="bestcelar-text-title">Шоколадне тістечко брауні</p>
            <p class="bestcelar-text">300 грн/ 3шт</p>
          </div>
          <div>
            <img src="./img/header-shoping-cart.webp" alt="cart"/>
          </div>
            </div>
          </li>
          <li class="bestcelar-item">
            <img src="./img/pict-cake.webp" alt="Image 3" class="bestcelar-image"/>
            <div class="bestcelar-text-container-container">
            <div class="bestcelar-text-container">
            <p class="bestcelar-text-title">Тістечка Шу</p>
            <p class="bestcelar-text">400 грн/ 6 шт</p>
          </div>
          <div>
            <img src="./img/header-shoping-cart.webp" alt="cart"/>
          </div>
            </div>
          </li>
        </ul>
        <div class="button-container">
        <button type="button" class="bestcelar-button">ПЕРЕГЛЯНУТИ ВЕСЬ АСОРТИМЕНТ</button>
      </div>
      </div>
    </div>
  </div>
  <div class="bestcelar-element-container">
    <img src="./img/pict-outline.webp" alt="Image 3" class="bestcelar-image"/>
    <div class="bestcelar-text-container-container">
    <p class="bestcelar-text-title">Соло </p>
    <p class="bestcelar-text">270грн</p>
    </div>
  </div>
</section>
