<section class="besteler">
  <div class="container">
    <h1 class="besteler-title">Бестселлер</h1>
    <div id="carousel" class="carousel">
      <button class="arrow prev">
        <img src="./img/arrow3.webp" alt="arow-left" class="besteler-arow" />
      </button>
      <button class="arrow next">
        <img src="./img/arrow2.webp" alt="arrow-right" class="besteler-arow" />
      </button>
      <div class="gallery">
        <ul class="besteler-list">
          <li>
            <img src="./img/pict1.webp" alt="Image 1" />
            <p>Мусовий торт “Манго-маракуйя”</p>
            <p>1200 грн/ 3 кг</p>
            <img src="./img/header-shoping-cart.webp" alt="cart" />
          </li>
          <li>
            <img src="./img/pict-tort.webp" alt="Image 2" />
            <p>Шоколадне тістечко брауні</p>
            <p>300 грн/ 3шт</p>
            <img src="./img/header-shoping-cart.webp" alt="cart" />
          </li>
          <li>
            <img src="./img/pict-cake.webp" alt="Image 3" />
            <p>Тістечка Шу</p>
            <p>400 грн/ 6 шт</p>
            <img src="./img/header-shoping-cart.webp" alt="cart" />
          </li>
          <li>
            <img src="./img/pict-outline.webp" alt="Image 3" />
            <p>Солона Карамель</p>
            <p>270грн/ 450г</p>
            <img src="./img/header-shoping-cart.webp" alt="cart" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
