<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="hero">
        <h1 class="hero-title">Головна / Каталог/ Торт “Наполеон”</h1>
        <img src="../img/pict5.webp" alt="cake" class="hero-img">
        <h2 class="header-subtitle">Торт “Наполеон”</h2>
        <ul class="hero-list">
            <li class="hero-item">ніжний заварний крем</li>
            <li class="hero-item">ароматні коржі</li>
            <li class="hero-item">ягоди</li>
        </ul>
        <ul class="hero-list">
            <li class="hero-item">
                <button class="hero-button">Вид</button>
            </li>
            <li class="hero-item">
                <button class="hero-button">Декор</button>
            </li>
            <li class="hero-item">
                <button class="hero-button">Вага готового виробу</button>
            </li>
        </ul>
        <p class="hero-text">950 грн</p>
        <button class="hero-button">Замовити</button>
    </section>
</body>
</html>