<section class="delivery">
    <div class="container">
        <h1 class="delivery-title">Доставка і оплата</h1>
        <ul class="delivery-list">
            <li class="delivery-item">
                <img class="delivery-photo" src="../../../img/box.webp" alt="box">
                <h2 class="delivery-text">Самовивіз</h2>
                <p class="delivery-info">Самовивіз з Печерського р-ну, м. Київ</p>
            </li>
            <li class="delivery-item">
                <img class="delivery-photo" src="../../../img/scooter.webp" alt="scooter">
                <h2 class="delivery-text">Доставка</h2>
                <p class="delivery-info">Доставка на таксі (за тарифами служби таксі)</p>
            </li>
            <li class="delivery-item">
                <img class="delivery-photo" src="../../../img/cash.webp" alt="cash">
                <h2 class="delivery-text">Передплата</h2>
                <p class="delivery-info">Передплата на картку в розмірі 50% від суми замовлення</p>
            </li>
        </ul>
    </div>
</section>