<section class="faq">
    <div class="container faq-container">
    <h1 class="faq-title">Популярні запитання</h1>
    <ul class="faq-list">
        <li class="faq-iteam">
            <h2 class="faq-subtitle">СКІЛЬКИ ЧАСУ ПОТРІБНО ДЛЯ ВИГОТОВЛЕННЯ ЗАМОВЛЕННЯ?</h2>
            <select name="" id="" class="faq-select">
                <option value="" ></option>
            </select>
        </li>
        <li class="faq-iteam">
            <p class="faq-text">Замовлення необхідно зробити як мінімум за 3-4 дні до вашого свята.</p>
            <h2 class="faq-subtitle">ЧИ Є У ВАС ДОСТАВКА?</h2>
            <select name="" id="" class="faq-select">
                <option value=""></option>
            </select>
        </li>
        <li class="faq-iteam">
            <h2 class="faq-subtitle">ЧИ ГОТУЄТЕ ВИ ТОРТИ З МАСТИКИ?</h2>
            <select name="" id="" class="faq-select">
                <option value=""></option>
            </select>
        </li>
        <li class="faq-iteam">
            <h2 class="faq-subtitle">ЧИ МОЖНА ЇСТИ ВАШІ ТОРТИ ДІТЯМ ТА ВАГІТНИМ?</h2>
            <select name="" id="" class="faq-select">
                <option value="" ></option>
            </select>
        </li>
    </ul>
    </div>
</section>