<section class="footer">
    <div class="container footer-container">
    <ul class="footer-list">
        <li class="footer-item"><address class="footer-addres">с. Хотів, вул. Партизанська 1А</address></li>
        <li class="footer-item"><a href="mailto:kostromaganna@gmail.com" class="footer-mail">Email: kostromaganna@gmail.com</a></li>
        <li class="footer-item"><a href="tel:+38(099) 987 62 40" class="footer-tel">Tel: +38(099) 987 62 40</a></li>
    </ul>
    <img src="../img/header-logo.webp" alt="logo" class="footer-logo">
    <ul class="footer-list">
        <li class="footer-media-item">
            <img src="../img/instagram.webp" alt="instagram" class="footer-icon">
            <img src="../img/telegram.webp" alt="telegram" class="footer-icon">
            <img src="../img/viber.webp" alt="viber" class="footer-icon">
        </li>
        <li class="footer-item"><p class="footer-text">Політика конфіденційності</p></li>
        <li class="footer-item"><p class="footer-text">Договір оферти</p></li>
    </ul>
</div>
</section>