<section class="head">
    <div class="container head-container">
        <ul class="head-list">
            <li class="head-item">
    <a href="./catalog.html" class="head-link">КАТАЛОГ</a>
</li>
    <li class="head-item">
    <a href="./about-me-page.html" class="head-link">ПРО МЕНЕ</a>
</li>
    <li class="head-item">
    <img src="./img/header-logo.webp" alt="logo" class="head-logo">
</li>
    <li class="head-item">
    <a href="./dilevery-page.html" class="head-link">ДОСТАВКА</a>
</li>
    <li class="head-item">
    <a href="./index.html" class="head-link">КОНТАКТИ</a>
</li>
    <li class="head-item">
    <button type="button" class="head-buys"></button>
</li>
</ul>
    </div>
</section>