<section class="instagram">
    <div class="container instagram-container">
        <h1 class="instagram-title">Instagram</h1>
        <ul class="instagram-list">
            <li class="instagram-item">
        <img src="../img/instagram1.webp" alt="cake" class="instagram-image">
    </li>
    <li class="instagram-item">
        <img src="../img/instagram2.webp" alt="cake" class="instagram-image">
    </li>
        <li class="instagram-item">
        <img src="../img/instagram3.webp" alt="cake" class="instagram-image">
    </li>
        <li class="instagram-item">
        <img src="../img/instagram4.webp" alt="cake" class="instagram-image">
    </li>
        <li class="instagram-item">
        <img src="../img/pict5.webp" alt="cake" class="instagram-image">
    </li>
        <li class="instagram-item">
        <img src="../img/instagram6.webp" alt="human" class="instagram-image">
    </li>
    </ul>
    <div class="instagram-button-container">
        <button type="button" class="instagram-button">ЗАВІТАТИ НА СТОРІНКУ</button>
    </div>
    </div>
</section>