<section class="menu">
    <div class="container menu-container">
    <ul class="menu-list">
        <li class="menu-item">
            <div class="menu-text-container">
            <p class="menu-text">ТОРТИ</p>
        </div>
        </li>
        <li class="menu-item">
            <div class="menu-text-container">
            <p class="menu-text">ШУ</p>
        </div>
        </li>
        <li class="menu-item">
            <div class="menu-text-container">
            <p class="menu-text">ТІСТЕЧКА</p>
        </div>
        </li>
        <li class="menu-item">
            <div class="menu-text-container">
            <p class="menu-text">ПІЦА</p>
        </div>
        </li>
    </ul>
</div>
</section>