<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="wishes">
      <div class="container container-wishes">
        <div class="wishes-container">
          <img src="../img/text.webp" alt="text" class="wishes-container-img" />

          <p class="wishes-container-text">
            Ви можете замовити свій власний рецепт десерту, який вам буде до
            вподоби. Заповніть заявку та я зв’яжусь з вами, аби обговорити
            деталі замовлення.
          </p>
        </div>
        <div class="id">
          <input
            id="name"
            type="name"
            placeholder="Ім’я"
            class="wishes-container-name"
          />
          <input
            id="tel"
            type="tel"
            placeholder="Номер телефону"
            class="wishes-container-tel"
          />
          <label>
            <textarea
              placeholder="Опишіть ваші побажання:"
              class="wishes-container-describe"
            ></textarea>
          </label>
          <button type="button" class="wishes-container-button">
            Надіслати
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
