<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="hero">
        <h1 class="hero-title">GRANN</h1>
        <h2 class="hero-text">авторські десерти</h2>
        <button class="hero-button"> До каталогу</button>
        <img class="hero-cake" src="../../../img/pact13.webp" alt="cake">
        <img class="hero-telega" src="../../../img/telegram.webp" alt="telegram logo">
        <img class="hero-facebook" src="../../../img/facebook-icon.webp" alt="facebook logo">
        <img class="hero-insta" src="../../../img/instagram-icon.webp" alt="instagram logo">
    </section>
</body>
</html>