/* common css */
:root {
  --pale-yellow: #f5eee0;
  --white: #ffffff;
  --text-color: #705a66;
  /* мій код працює тільки так  Давид*/
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Jeff Script', sans-serif;
  --third-family: 'Moniqa', sans-serif;
  --font3: 'Abel', sans-serif;
  --title-color: #252525;
  --text-color-v2: #f5f7f8;
}

.container {
  width: 1240px;
  outline: red solid 2px;
  margin: 0px auto;
  /* display: flex; */
}

/* Header */

.head {
  /* background-color: var(--pale-yellow); */
  border-bottom: white solid 1px;
  padding: 24px 0px;
}

.head-container,
.head-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.head-link {
  font-family: 'Montserrat';
  font-size: 16px;
  color: var(--text-color);
}

.head-item:first-of-type {
  margin-right: 118px;
}

.head-item:nth-last-child(2) {
  margin-left: 103px;
  margin-right: 76px;
}

.head-logo {
  width: 114px;
  height: 91px;
  margin: 0px 170px 0px 275px;
}

.head-buys {
  width: 30px;
  height: 30px;
  background-image: url(../img/header-shoping-cart.webp);
  background-color: inherit;
  border: none;
}

/* hero мій код працює, тільки так */

.hero {
  padding-bottom: 23px;
}

/* .hero:last-child {
  justify-content: flex-end;
} */

.hero-title1 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  color: var(--title-color);
}

.hero-title2 {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  color: var(--title-color);
}

/* .hero-img{
    float: left;
} */

.header-subtitle {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 42px;
  color: var(--title-color);
}

.hero-img{
  margin-bottom: 32px;
}

.hero-list {
  display: flex;
  gap: 32px;
}

.selection-of-cakes{
  display: flex;
  row-gap: 30px;
}

.selection-of-cakes:first-child::before{
 contain: "";
 background-image: url(../img/bttn-left.webp);
 background-repeat: no-repeat;
}

.selection-of-cakes:last-child::after{
  contain: "";
  background-image: url(../img/bttn-right.webp);
  background-repeat: no-repeat;
}

.selection-hero-img{
  width: 75px;
height: 75px;
}

.hero-item {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  color: var(--title-color);
}

.hero-button {
  border-radius: 10px;
  width: 288px;
  height: 60px;
  background: var(--pale-yellow);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  color: var(--text-color);
  border: none;
  flex-basis: calc((100% / 2) - 32px);
}

.hero-button::after {
  content: "";
  background-image: url(../img/arrow.webp);
}

.hero-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  color: var(--text-color);
}

.hero-delivery {
  border-radius: 10px;
  width: 287px;
  height: 67px;
  background: var(--text-color);
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: var(--pale-yellow);
  border: none;
}

/* information */

.information {
  padding-top: 64px;
}

.information-list {
  display: flex;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color);
  gap: 30px;
  flex-direction: column;
}

.description {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nformation-item {
  display: block;
}

.information-stick {
  border-radius: 4px;
  width: 76px;
  height: 4px;
  background: var(--text-color);
  margin-bottom: 40px;
}
/* menu */

.menu{
  padding-bottom: 120px;
  padding-top: 54px;
}

.menu-list{
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}
.menu-item{
  width: 605px;
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: end;
  background-repeat: no-repeat;
}

.menu-item:first-child{
  background-image: url(../img/menu-background1.webp);
}
.menu-item:nth-child(2){
  background-image: url(../img/menu-background2.webp);
}
.menu-item:nth-child(3){
  background-image: url(../img/menu-background3.webp);
}
.menu-item:last-child{
  background-image: url(../img/menu-background4.webp);
}

.menu-text-container{
  background-color: var(--pale-yellow);
  width: 276px;
  height: 67px;
  border-radius: 15px;
  padding: 19px 0px;
}

.menu-text{
  text-align: center;
  font-family: var(--font-family);
  font-weight: 100;
  font-size: 24px;
}

/* footer */

.footer{
  background-color: var(--text-color);
  padding-top: 88px;
  padding-bottom: 89px;
}

.footer-container{
  display: flex;
  justify-content: space-around;
}

.footer-list{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  color: var(--text-color-v2);
  font-size: 18px;
  font-weight: 100;
  font-family: var(--font-family);
}

.footer-logo{
  width: 255px;
  height: 201px;
}

.footer-media-item{
  display: flex;
  column-gap: 40px;
  margin-bottom: 8px;
}

.footer-list .footer-item:nth-child(2){
  margin: 24px 0px;
}