/* common css */
:root {
  --pale-yellow: #f5eee0;
  --white: #ffffff;
  --text-color: #705a66;
  /* мій код працює тільки так  Давид*/
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Jeff Script', sans-serif;
  --third-family: 'Moniqa', sans-serif;
  --font3: 'Abel', sans-serif;
  --title-color: #252525;
  --text-color-v2: #f5f7f8;
}

@font-face {
  font-family: "Moniqa Black Display";
  src: url("https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.eot");
  src: url("https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.svg#Moniqa Black Display")format("svg");
}

.head-and-hero {
  background-image: url(../img/head-and-hero-background.webp);
  background-size: 1641px 1098px;
  background-position: 0px -16px;
  background-repeat: no-repeat;
}

.why-and-delivery {
  background-image: url(../img/why-and-delivery-bacround.webp);
  background-size: 1641.5px 1357px;
  background-position: 0px 65px;
  background-repeat: no-repeat;
}


.container {
  width: 1240px;
  outline: red solid 2px;
  margin: 0px auto;
  /* display: flex; */
}
