.delivery-title {
    font-family: 'Moniqa Black Display';
    font-weight: 900;
    font-size: 100px;
    color: #705a66;
    text-align: center;
}

.delivery-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #705a66;
    padding-bottom: 20px;
}

.delivery-info {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #705a66;
}

.delivery-list {
    display: flex;
    column-gap: 83px;
    justify-content: center;
    background-image: url(../img/line2.webp), url(../img/line2.webp);
    background-repeat: no-repeat;
    background-position: 444px 64px, 815px 64px;
}

.delivery-item{
    width: 287px;
}

.delivery-photo {
    padding-top: 84px;
    padding-bottom: 39px;
    margin: 0px auto;
}

.delivery {
    padding-top: 120px;
}