.delivery-title {
    font-family: var(--third-family);
    font-weight: 900;
    font-size: 100px;
    color: #705a66;
}

.delivery-text {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    color: #705a66;
    margin-bottom: 20px;
}

.delivery-info {
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 18px;
    text-align: center;
    color: #705a66;
}

.delivery-list {
    display: flex;
}

.delivery-photo {
    margin-left: auto;
    margin-right: auto;
    margin-top: 84px;
}