.footer{
    background-color: var(--text-color);
    padding-top: 88px;
    padding-bottom: 89px;
  }
  
  .footer-container{
    display: flex;
    justify-content: space-around;
  }
  
  .footer-list{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    color: var(--text-color-v2);
    font-size: 18px;
    font-weight: 100;
    font-family: var(--font-family);
  }
  
  .footer-logo{
    width: 255px;
    height: 201px;
  }
  
  .footer-media-item{
    display: flex;
    column-gap: 40px;
    margin-bottom: 8px;
  }
  
  .footer-list .footer-item:nth-child(2){
    margin: 24px 0px;
  }