:root {
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Jeff Script', sans-serif;
  --third-family: 'Moniqa', sans-serif;
  --font3: 'Abel', sans-serif;
}

.wishes {
  background-image: url(../img/wishes-img.webp);
  background-repeat: no-repeat;
  background-size: 93.1% , 564px;
}

.container-wishes {
  display: flex;
  padding-top: 62px;
  padding-bottom: 63px;
}

.wishes-container {
  width: 501px;
  height: 286px;
  justify-content: flex-start;
  margin-right: 140px;
  padding-top: 19px;
}

.id {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 499px;
  height: 439px;
}

.wishes-container-title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 54px;
  color: var(--text-color-v2);
}

.wishes-container-text {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: var(--text-color-v2);
  margin-top: 24px;
}

.wishes-container-name {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  color: var(--text-color);
  border-radius: 10px;
  width: 499px;
  height: 60px;
  background-color: var(--text-color-v2);
  border-style: none;
  padding-left: 32px;
  padding-bottom: 19px;
  padding-top: 19px;
}

.wishes-container-tel {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  color: var(--text-color);
  border-radius: 10px;
  width: 499px;
  height: 60px;
  background: var(--text-color-v2);
  border-style: none;
  padding-left: 32px;
  padding-bottom: 19px;
  padding-top: 19px;
}

.wishes-container-describe {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 18px;
  color: var(--text-color);
  border-radius: 10px;
  width: 499px;
  height: 180px;
  background: var(--text-color-v2);
  border-style: none;
  resize: none;
  padding-left: 32px;
  padding-top: 19px;
}

.wishes-container-button {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-color);
  border-radius: 10px;
  width: 499px;
  height: 67px;
  background: var(--pale-yellow);
  border-style: none;
  padding-right: 106px;
  padding-left: 106px;
  padding-bottom: 19px;
  padding-top: 19px;
}
