<section class="hero">
    <p class="hero-information">Головна / Каталог</p>
    <h1 class="hero-title">Каталог</h1>
    <ul class="hero-list">
        <li class="hero-iteam">
            <button type="button" class="hero-button">Торти</button>
        </li>
        <li class="hero-iteam">
            <button type="button" class="hero-button">Тістечка</button>
        </li>
        <li class="hero-iteam">
            <button type="button" class="hero-button">Шу</button>
        </li>
        <li class="hero-iteam">
            <button type="button" class="hero-button">Піцца</button>
        </li>
    </ul>
    <ul class="hero-list">
        <li class="hero-item">
            <img src="../../../img/pict1.webp" alt="pict1" class="hero-img">
            <h2 class="hero-subtitle">Мусовий торт “Манго-маракуйя”</h2>
            <p class="hero-text">1200 грн/ 3 кг</p>
        </li>
        <li class="hero-item">
            <img src="../../../img/pict2.webp" alt="pict2" class="hero-img">
            <h2 class="hero-subtitle">Шоколадний торт з малиною</h2>
            <p class="hero-text">1000 грн/ 2 кг</p>
        </li>
        <li class="hero-item">
            <img src="../../../img/pict3.webp" alt="pict3" class="hero-img">
            <h2 class="hero-subtitle">Торт “Ківі-маракуйя”</h2>
            <p class="hero-text">1100 грн/ 1.5 кг</p>
        </li>
        <li class="hero-item">
            <img src="../../../img/pict4.webp" alt="pict4" class="hero-img">
            <h2 class="hero-subtitle">Торт “Снікерс”</h2>
            <p class="hero-text">1400 грн/ 3 кг</p>
        </li>
        <li class="hero-item">
            <img src="../../../img/pict5.webp" alt="pict5" class="hero-img">
            <h2 class="hero-subtitle">Торт “Наполеон”</h2>
            <p class="hero-text">1000 грн/ 2 кг</p>
        </li>
        <li class="hero-item">
            <img src="../../../img/pict6.webp" alt="pict6" class="hero-img">
            <h2 class="hero-subtitle">Торт “Тіраміссу”</h2>
            <p class="hero-text">1350 грн/ 2 кг</p>
        </li>
        <li class="hero-item">
            <img src="../../../img/pict7.webp" alt="pict7" class="hero-img">
            <h2 class="hero-subtitle">Торт “Медовик”</h2>
            <p class="hero-text">800 грн/ 1,5 кг</p>
        </li>
        <li class="hero-item">
            <img src="../../../img/pict8.webp" alt="pict8" class="hero-img">
            <h2 class="hero-subtitle">Торт “Вафельно-горіховий”</h2>
            <p class="hero-text">1000 грн/ 2 кг</p>
        </li>
        <li class="hero-item">
            <img src="../../../img/pict9.webp" alt="pict9" class="hero-img">
            <h2 class="hero-subtitle">Торт “Фісташка-малина”</h2>
            <p class="hero-text">1350 грн/ 2 кг</p>
        </li>
        <li class="hero-item">
            <img src="../../../img/pict1.webp" alt="pict1" class="hero-img">
            <h2 class="hero-subtitle">Мусовий торт “Манго-маракуйя”</h2>
            <p class="hero-text">1200 грн/ 3 кг</p>
        </li>
        <li class="hero-item">
            <img src="../../../img/pict2.webp" alt="pict2" class="hero-img">
            <h2 class="hero-subtitle">Шоколадний торт з малиною</h2>
            <p class="hero-text">1000 грн/ 2 кг</p>
        </li>
        <li class="hero-item">
            <img src="../../../img/pict3.webp" alt="pict3" class="hero-img">
            <h2 class="hero-subtitle">Торт “Ківі-маракуйя”</h2>
            <p class="hero-text">1100 грн/ 1.5 кг</p>
        </li>
        <li class="hero-item">
            <img src="../../../img/pict4.webp" alt="pict4" class="hero-img">
            <h2 class="hero-subtitle">Торт “Снікерс”</h2>
            <p class="hero-text">1400 грн/ 3 кг</p>
        </li>
        <li class="hero-item">
            <img src="../../../img/pict5.webp" alt="pict5" class="hero-img">
            <h2 class="hero-subtitle">Торт “Наполеон”</h2>
            <p class="hero-text">1000 грн/ 2 кг</p>
        </li>
        <li class="hero-item">
            <img src="../../../img/pict6.webp" alt="pict6" class="hero-img">
            <h2 class="hero-subtitle">Торт “Тіраміссу”</h2>
            <p class="hero-text">1350 грн/ 2 кг</p>
        </li>
    </ul>
    <p class="hero-number">1, 2, 3</p>
</section>