@font-face {
    font-family: "Moniqa Black Display";
    src: url("https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.eot");
    src: url("https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/864309e32eb06a52fd91c0d3e081e0db.svg#Moniqa Black Display")format("svg")
}

.why-about-me {
    margin-bottom: 120px;
}

.why-title {
    font-family: 'Moniqa Black Display';    
    font-weight: 900;
    font-size: 100px;
    color: #705a66;
    text-align: center;
}

 .why-about-me-container {
    flex-direction: column;
} 

.why-picture {
    width: 605px;
    height: 631px;
    margin-right: 136px;
}

.why-subtitle {
    font-family: var(--font-family);
font-weight: 300;
font-size: 24px;
color: #705a66;
margin-bottom: 24px;
}

.why-text {
    font-family: var(--font-family);
font-weight: 300;
font-size: 18px;
color: #705a66;
padding-bottom: 32px;
}

.why-list {
    display: flex;
}

.why-iteam:nth-child(2) {
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 499px;
}

.why-iteam {
    justify-content: center;
    display: flex;
}